.container{
    max-width: 1090px;
    
}
body{
    color:$secondary;
}
.btn-secondary{
    width: 100px;
    height: 26px;
    background-color:white;
    color:black;
    &:hover{
        color:white;
        background-color:#474747;
    }
    


}
.entry-meta{
    font-weight: bold;
    text-transform: capitalize;
    margin-bottom: 30px;
    color:#474747;
}
.single_feature{
    margin-bottom: 30px;
}
.form-control{
    display: inline;
}
.btn-secondary {
    width: 100px;
    height: 26px;
    background-color: #474747;
    color: white;
    width: 175px;
    height: 55px;
}